<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h5><%= I18n.t('title') %></h5>
        <ul class="list-unstyled quick-links">
          <li><i class="fa fa-angle-double-right"><%= link_to I18n.t('main'), root_path, :title => I18n.t('main'), :class => '' %></i></li>
          <li><i class="fa fa-angle-double-right"><%= link_to I18n.t('news'), :title => I18n.t('news'), :class => '' %></i></li>
          <li><i class="fa fa-angle-double-right"><%= link_to I18n.t('contacts'), :class => '' %></i></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <h5><%= link_to I18n.t('specialization'), specialties_path %></h5>
        <ul class="list-unstyled quick-links">
          <li><i class="fa fa-angle-double-right"><%= link_to I18n.t('comp-science'), specialty_path(1), :class => "" %></i></li>
          <li><i class="fa fa-angle-double-right"><%= link_to I18n.t('inform-syst'), specialty_path(2), :class => "" %></i></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <h5><%= link_to I18n.t('specialty'), education_programs_path %></h5>
        <ul class="list-unstyled quick-links">
          <li><i class="fa fa-angle-double-right"><%= link_to I18n.t('simple_form.required.mark'), :class => '' %></i></li>
          <li><i class="fa fa-angle-double-right"><%= link_to I18n.t('simple_form.required.text'), specialty_path(2), :class => "" %></i></li>
          <li><i class="fa fa-angle-double-right"><%= link_to I18n.t('simple_form.required.mark'), specialty_path(2), :class => "" %></i></li>
          <li><a href="#" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <h5><%= I18n.t('disciplines') %></h5>
        <ul class="list-unstyled quick-links">
          <li><i class="fa fa-angle-double-right"><%= link_to I18n.t('contacts'), :class => '' %></i></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
          <li><a href="#" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h5><%= I18n.t('teachers') %></h5>
        <ul class="list-unstyled quick-links">
          <li><i class="fa fa-angle-double-right"><%= link_to I18n.t('contacts'), :class => '' %></i></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
          <li><a href="#" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      </hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u><a href="#">KHAI</a></u> ХАИ</p>
        <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="#" target="_blank">К105</a></p>
      </div>
      </hr>
    </div>
  </div>
</section>
<!-- ./Footer -->